@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700');

body {
    font-family: 'Roboto',sans-serif;
	font-weight: 400;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased; /*stop font goes lighter on Safari*/
}

html, body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 30px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.section-title {
  margin-bottom: 60px;  
}

p {
    margin: 0 0 20px;
    font-size: 1.2em;
    line-height: 1.6em;
}

.lead {
	font-weight: 600;
}

.lead img {
    margin-right: 20px;
    height: 3em;
}
a {
    color: #4f6ef5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #3331f0;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    height: 60px;
    padding: 10px 15px;
    font-size: 1.2em;
    line-height: 2.4em;
    color: #fff;
}

.navbar-brand img {
    height: 2em;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom ul.nav li a {
	font-size: 1.1em; /*12px */
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
    padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #333333;
}

.navbar-custom .nav li a span { /* add */
  display: block;
  text-align: center !important; 
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
    color:#fff; /* remove this if dont want nav link to change on hover */
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.top-nav-collapse {
    background: rgba(33, 33, 33, .8) !important;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-toggle {
    font-size: 1.2em;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

/* misc */
hr {
  margin-top: 10px;
}

.home-section {
    padding-top: 110px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}

.bg-grey {
	background: #f8f8f8;
}

.bg-dark {
	background: #575757;
}

.bg-blue {
    background-color: #dff2ff;
}
.bg-purple {
    background-color: #f2eefe;
}
.text-light {
	color: #fff;
}

.text-bold {
  font-weight: 700;
}
.intro {
	width:100%;
	position:relative;
    height: auto;
    color: #FFF;
    text-align: center;
    min-height: 200px;
    font-size: 1.8em;
    background: url(../img/banner.png) no-repeat top center;
    /* background-attachment: fixed; parralax bg */
    background-size: cover;
}

#intro.intro {
    padding: 20% 5% 15% 5%;
}

.intro .slogan {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6em;
}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}

.services-box {
    padding:20px 20px;
    margin-top: 10px;
    min-height: 200px;
}
.os-desc {
    margin-bottom:40px;
    font-weight: 400;
    font-size: 1.4em;
}
.research-box {
    padding:20px 20px;
    margin-top: 10px;
    min-height: 200px;
    color: #FFF;
}
.about-box {
    text-align: left;
    padding: 0 5%;
}
.contact-box {
    min-height: 350px;
}
.addr-box {
    padding-top: 0px;
}
.border-bottom-dark {
    border-bottom: 1px solid rgba(255,255,255,.3); 
}
.client-logo {
  min-height: 80px;
}
.client-logo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #052323;
    padding: 5px;
}
.addr {
    max-width: 500px;
}

footer {
	text-align: center;
	padding: 50px 0 ;
    background-color: #999999;
}

footer p {
	color: #f8f8f8;
}

.btn {
    border-radius: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 3px 5px;
    border: 2px solid #333;
    border-radius: 50%;
    font-size: 1em;
    color: #333;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    border: 2px solid #666;
    color: #666;
    background: rgba(255,255,255,.1);
}

/* Media queries */

@media(min-width:767px) {
    .intro {
        min-height: 400px;
        padding: 0;
    }
}
@media (max-width:768px) {
    #intro.intro {
        padding:30% 5% 20% 5%;
    }
    .lead img {
        width: 10%;
    }
    .intro .slogan {
        font-size: 1.4em;
    }
}

@media (max-width:480px) {
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}

	.page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 7px 0;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 20px;
    }
}
@media (max-width: 991px) { /* make the navbar collapse earlier than the default 767px */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
        background: rgba(33, 33, 33, .8);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }